*{
	font-family: Arial, sans-serif;
}


/*********HEADER*********
*************************/
header{

	width: 100%;
	height: 170px;
	background-image: linear-gradient(#00FFCD, #30A9DC, #0C72B8);
}

.logo{

	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav{

	margin-top: 60px;
	background-color: #1C8AC8;
	height: 40px;
}

ul{

	list-style: none;
	display: block;
	padding-top: 10px;
	text-align: center;
}

li{
	display: inline;
	padding-left: 20px;
	font-weight: bold;
	color: white;
	padding-top: 10px;
}

li a{

	text-decoration: none;
	color: white;
}

li a:hover{

	color: black;
	text-decoration: underline;
}

/********TABLE*********
*********FORM********/

table{

	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	padding-top: 60px;
	padding-bottom: 60px;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
}

caption{

	background-color: #2FA9DC;
	height: 50px;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px; 
	border-radius: 10px;
	box-shadow: 6px 6px 6px white inset;	
}

.underline
{
	background-color: grey;
	color: white;
	font-weight: bold;
}

td{
	height: 50px;
	width: 600px;
}

.selection
{
	display: none;
}

/**************FOOTER***********
*******************************/
footer{

	width: 100%;
	height: 100px;
	background-image: linear-gradient(#00FFCD, #30A9DC, #0C72B8);

}

p{
	text-align: center;
	color: white;

}

.cheat{

	padding-top: 20px;
}

.sources{

	padding-bottom: 10px;
}

.sources a{

	color: white;
	text-decoration: none;
	font-weight: bold;
}
 .sources a:hover{

 	text-decoration: underline;
}

/*****************MQ***************/

@media screen and (max-width: 1053px){

nav{

	display: none;
}

.selection{

	display: block;
	float: left;
	width: 90%;
	margin-top: 150px;
	margin-left: 5%;
	height: 50px
}

}